.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1e1e1e;
    color: #f0f0f0;
}
.desc {
    color:white
}
.title{
    color:#1da1f2;
}
.create-event-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

#create-event-btn:hover {
    background-color: #0056b3;
}

#event-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.event-card {
    background-color: #1e1e1e;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.event-banner {
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.event-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-details {
    height: 150px;
    padding: 20px;
}

.event-actions {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid #333;
}

.icon-btn {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1e2025;
    border: 1px solid #2b2d32;
    padding: 20px;
    z-index: 1000;
    max-height: 80vh;
    overflow-y: auto;
    border-radius: 8px; 
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #e1e8ed;
}


.popup h2 {
    color: #1da1f2;
    margin-top: 0;
}


.participant-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.participant-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #2b2d32; 
}

.participant-avatar {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-right: 10px;
}


.participant-list-item span {
    color: #ffffff; 
    font-size: 1em;
}

.popup::-webkit-scrollbar {
    width: 12px;
}

.popup::-webkit-scrollbar-track {
    background: #1e2025; 
}

.popup::-webkit-scrollbar-thumb {
    background: #8899a6; 
    border-radius: 10px;
}

.popup::-webkit-scrollbar-thumb:hover {
    background: #e1e8ed; 
}

.popup {
    scrollbar-width: thin;
    scrollbar-color: #8899a6 #1e2025; 
}

.icon-btn svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.icon-btn:hover {
    background-color: #0056b3;
}
a{
    text-decoration: none;

}
.join-btn,
.share-btn {
    display: flex;
    align-items: center;
}
.join-btn{
    width: 150px;
    margin-right: 5px;
}
.join-btn svg,
.share-btn svg {
    margin-right: 5px;
}
